@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featureCard .swiper-pagination-bullet {
  opacity: 0.5;
}
.featureCard .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: whitesmoke;
  opacity: 1;
}
.featureCard {
  --swiper-navigation-size: 25px;
}
.featureCard .swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: unset;
}
.featureCard .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: unset;
}
.featureCard .swiper-button-next {
  border-radius: 999px;
  background: whitesmoke;
  opacity: 1;
  svg {
    width: 50%;
    height: 50%;
    stroke: black;
  }
}
.featureCard .swiper-button-prev {
  border-radius: 999px;
  background: whitesmoke;
  opacity: 1;
  svg {
    width: 50%;
    height: 50%;
    stroke: black;
  }
}
.filter-container .filter-accordian.MuiPaper-root {
  box-shadow: none !important;
}
.filter-container .filter-accordian.MuiPaper-root::before {
  height: 0px;
}
.filter-container .MuiDialog-paper {
  border-radius: 28px !important;
}